<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Text Get</title>
	<link rel="stylesheet" href="quiz2.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body class="bg-img">
    <div class="content">
        <div>
            <h1 class="h1 text-center"id="my-font">Ajax Part</h1>
            <p id="data" class="my-font text-center"></p>
            <form action="#" id="main">
                <button type="submit" class="text-center btn btn-primary" id="getText" >Get Title</button>
            </form>
        </div>
    </div>

    <ul class="list-group" id="results">

    </ul>
	<script src="getText.js"></script>
</body>
</html>